.tableContainer {
    width: 80%;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    border-radius: 8px;
    overflow: hidden;
}

.tableContainer > p {
    color: white;
    font-weight: bold;
}

.table {
    background-color: transparent;
}

.tableThead > tr > th {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.tableTbody > tr > td {
    color: white;
}

.tableTbody > p > span {
    color: orange;
}

.buttonStyle {
    background: orange;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    transition: 0.3s ease;
}

.buttonStyle:hover {
    background: black;
}