.footer {
    text-align: center;
    padding: 20px;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

a:link:hover {
    transition: all 0.5s ease-out;
    color: orange;
}

.footer > p {
    margin-top: 14%;
}

@media screen and (max-width: 1440px) and (max-height: 727px) {
    .footer > p {
        margin-top: 5%;
    }
}
