.footer {
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

a:link:hover {
    transition: all 0.5s ease-out;
    color: orange;
}
